/* Common styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(BIS\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  font-size: larger;
  
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffb9;
  color: black;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
}

.Nav_links a {
  margin: 20px;
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
  padding: 30px;
}


.student-section H2 {
  text-align: center;
}

.student-section {
  background-color: #ffffffb9;
  text-align: center;
  height: 100%;
  margin: 20px; /* Add margin around the student section */
  padding: 20px; /* Add padding to the student section */
  animation: fadeIn 1.5s ease-out; /* Fade-in animation for the student section */
  border-radius: 25px;
  overflow-y: auto;
}

/* footer */
footer {
  background-color: #ffffffb9;
  color: black;
  text-align: center;
  width: 100%;
  margin-top: 20px; /* Add margin at the top of the footer */
  bottom: 0;
  left: 0;
  transform: translateY(100px);
  animation: slideInFromLeft 1.5s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: black;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

.footer-section {
  display: flex;
  align-items: center;
}

.footer-section img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.footer-section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 100px;
}

.footer-bottom {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) and (orientation: portrait) {
  /* Navbar responsive */
  .navbar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10%;
  }

  .logo {
    flex-direction: column;
    text-align: center;
  }

  .logo img {
    width: 80px;
    height: 80px;
    margin-right: 0;
    padding: 10px;
  }

  .logo span {
    margin-top: 5px; /* Add margin between logos */
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .button {
    margin: 5px;
    padding: 6px 12px;
    font-size: 12px;
  }


  .student-section{
    width: 90%;
    padding: 10%;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
  }

  .IMG{
    width: 100%;
    
  }

  /* footer responsive */
  footer {
    position: relative;
    width: 100%;
    padding: 10%;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section {
    margin: 5px 0;
    text-align: center;
  }

  .footer-section img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 10px;
  }

  
}